@charset "UTF-8";
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
    background-image: url(../img/bgmin.jpg); 
    /* background: red; */
    background-size: cover;
    background-attachment: fixed;
    font-family: "微軟正黑體", "文鼎海報體", "標楷體";
}

.header {
    width: 100%;
    position: fixed;
    z-index: 999;
    margin: 0px 0px 50px 0px;
}

.header>div {
    background: rgba(0, 0, 0, 0.8);
}

.banner {
    margin: 130px 0px 0px 0px;
}

.logo {
    margin: 10px 0px 0px 0px;
    left: 10%;
    height: 100px;
    background-image: url('../LOGO.png');
    background-repeat: no-repeat;
    background-size: 100px 100px;
}

.logo div {
    float: left;
}

.logo a{
    margin: 0px 0px 0px 100px;
    color: #FFFFFF;
    font-size: 50px;
    font-family: "微軟正黑體", "文鼎海報體", "標楷體";
    line-height: 110px;
    text-decoration: none;
}

.logo a:hover{
    color: #00FF00;
}

.nav {
    margin: 0px;
    background: none;
    border: none;
}

#menu {
    margin: 50px 0px 0px 0px;
}

#menu>li:nth-child(3) {
    margin: 10px;
}

#menu>li>a {
    font-size: 17px;
    color: #FFFFFF !important;
    margin: 0px 15px;
    display: block;
    transition: all 1s;
}

#menu>li>a:hover {
    font-size: 22px;
    color: #00FF00 !important;
    background: #FFFFFF;
}

#menu li:hover>a {
    color: #00FF00 !important;
    background: none !important;
}

#menu li a {
    padding: 0px;
}

#menu li:nth-child(1),
#menu li:nth-child(2),
#menu li:nth-child(4) {
    display: block;
    width: 120px;
    height: 30px;
    float: left;
    text-align: center;
    overflow: hidden;
}

#menu li:nth-child(1) a,
#menu li:nth-child(2) a,
#menu li:nth-child(4) a {
    text-decoration: none;
    color: #fff;
    display: block;
    width: 120px;
    height: 40px;
    font-family: arial;
    font-weight: bolder;
    line-height: 40px;
    transition: margin-top 0.5s;
    -webkit-transition: margin-top 0.5s;
}

#menu>li:nth-child(1) a:hover,
#menu>li:nth-child(2) a:hover,
#menu>li:nth-child(4) a:hover {
    margin-top: -45px;
}

#submenu {
    background: rgba(0, 0, 0, 0.8);
}

#submenu li a {
    padding: 0px 0px 0px 10px;
    color: #FFFFFF;
}

#submenu li:nth-child(3) a {
    line-height: 40px;
    margin: 0px 0px -10px 23px;
}

#submenu li:nth-child(4) a {
    margin: 0px 0px 0px -10px;
}

#submenu li a:hover {
    font-size: 20px;
    color: #00FF00 !important;
    background: none;
}

.ddd {
    background: none !important;
}

.footer {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply;
    margin: 20px 0px 0px 0px;
    color: #A9A9A9;
    font-size: 10px;
    text-align: center;
}

@media (max-width: 768px) {
body {
    background-image: url(../img/bg.jpg);
}
    .header {
        width: 100%;
        position: inherit;
        margin: 0px 0px -175px 0px;
    }
    .logo {
        margin: 20px 0px 0px 20px;
        left: 0%;
    }
    .logo a {
        font-size: 25px;
    }
    .banner {
        margin: 180px 0px 30px 0px;
    }
    #menu {
        margin: 0px;
    }
    #menu li {
        text-align: center;
        padding: 0px;
        margin: 0px;
        display: block;
        clear: both;
    }
    #menu li a {
        padding: 0px;
        margin: 0px;
        width: 100px;
        height: 100%;
    }
    #menu li a p {
        display: none;
    }
    #menu>li:nth-child(1) a:hover,
    #menu>li:nth-child(2) a:hover,
    #menu>li:nth-child(4) a:hover {
        margin-top: 0px;
    }
    #menu li:nth-child(3) {
        width: 120px;
        height: 40px;
        line-height: 40px;
        margin: 65px 0px -20px 20px !important;
    }
    #submenu {
        padding: 0px !important;
        margin: -10px 0px 0px 0px !important;
    }
    #submenu li:nth-child(2) {
        margin: 0px 0px 0px 0px !important;
    }
    #submenu li:nth-child(3) {
        color: #FFFFFF !important;
        text-align: center;
        margin:0px 0px -15px -5px !important;
        padding: 0px !important;
    }
    #submenu li:nth-child(3) a:hover {
        color: #00FF00 !important;
    }
    .footer {
        margin: 10px 0px 0px 0px;
    }
}
